body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    color:darkslategray;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkslategray;
    text-align: center;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkslategray;
    text-align:center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkslategray;
    text-align: center;
}

img{
    align-items: center;
}